<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lab Task</title>
    <script src="https://unpkg.com/vue"> </script>
    <script src="subjects.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <style>
        img {
            object-fit: cover;
        }

        div#app {
            font-weight: bold;
            font-style: italic;
            font-family: sans-serif;
            font-size: 16px;
            border: none;
            color: rgb(5, 22, 14);
        }

        div {
            border: 1px rgb(4, 167, 99) solid;
            border-radius: black;
            padding: 20px;
            margin: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">

        <!-- shoping cart -->
        <header>
            <h1>{{sitename}}</h1>
            <button v-on:click="showcheckout" v-if="enableshoppingcart">shopping cart</button>
            <P v-else>shopping cart empty</P>
            <div v-for="product in cart" style="display:inline-block;">
                <figure>
                    <img v-bind:src="product.image" width="200" height="200">
                </figure>
                <h2 v-html="product.subject"></h2>
                <P>Location: {{product.location}}</P>
                <p>Price: {{product.price}}</p>
                <P>Product I.d: {{product.id}}</P>
                <P>Number of spaces: {{product.availableInventory}}</P>
                <button v-on:click="removefromcart(product)">removefromcart</button>
            </div>
        </header>

        <main>
            <div v-if="showproduct">




                <div v-for="product in products">

                    <figure>
                        <img v-bind:src="product.image" width="200" height="200">
                    </figure>

                    <h2 v-html="product.subject"></h2>
                    <p>ID : {{ product._id}}</p>
                    <P>Location: {{product.location}}</P>
                    <p>Price: {{product.price}}</p>
                    <P>Product I.d: {{product.id}}</P>
                    <P>Number of spaces: {{product.availableInventory}}</P>
                    <button v-on:click="decrement_inventory(product); addtocart(product); " v-if="isenable(product)">
                        Add to cart</button>
                    <!-- only show the button when 'canAddToCart' is true when it becomes false the button disappers -->

                    <button disabled="disabled" v-else>DISABLE</button>
                </div>
            </div>

            <div v-else>
                <h2>Checkout</h2>


                <form @submit="submitForm">
                    <ul>
                        <p>
                            <strong>Name:</strong>
                            <input id="name" required v-model.trim="order.name" type="text" />
                        </p>
                        <p><strong>Phone : </strong><input id="phone" required v-model.number='order.phone'
                                type="number"></p>


                        <input type="submit">
                </form>



            </div>
        </main>
    </div>








    <script type="text/javascript">
        var webstore = new Vue({
            el: "#app",
            data: {
                sitename: "BOOKS BUY NOW!",
                products: [],

                lessons: [],
                cart: [],
                cartID: [],
                showproduct: true,

                order: {
                    name: "",
                    phone: null

                },





            },
            methods: {
                decrement_inventory(product) {
                    product.availableInventory = product.availableInventory - 1;
                },
                isenable: function (product) {
                    if (product.availableInventory > 0) {
                        return true
                    }
                    else {
                        return false
                    }
                },








                addtocart: function (product) {
                    this.cart.push(product);
                    console.log(product);
                    this.cartID.push(product.id)
                    console.log(product.availableInventory)
                    console.log(this.cartCount(product.id));





                    const newavailableInventory = product.availableInventory;




                    console.log("iM HERE");

                    fetch('https://cst--3145.herokuapp.com/collection/products/' + product._id, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ availableInventory: newavailableInventory })
                    }).then(function (data) {
                        console.log(data);
                        //              console.log("Im Here");

                    });


                },
                showcheckout() {
                    this.showproduct = this.showproduct ? false : true;
                },
                removefromcart: function (product) {

                    product.availableInventory = product.availableInventory + 1;
                    const newavail = product.availableInventory;
                    this.cart.pop(product)
                    fetch('https://cst--3145.herokuapp.com/collection/products/' + product._id, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ availableInventory: newavail })
                    }).then(function (data) {
                        console.log(data);
                        //              console.log("Im Here");

                    });


                },





                submitForm() {
                    fetch('https://cst--3145.herokuapp.com/collection/orders', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ Name: this.order.name, Phone: this.order.phone, ProductsInOrder: this.cart.map(({ title }) => title) })}).then(function () {


                    });

                    this.cart.forEach(element => {

                        fetch('https://cw2indi.herokuapp.com/collection/lessons/' + element._id, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ availableInventory: element.availableInventory })
                        }).then(function (data) {
                            console.log(data);
                            console.log("Im Here");

                        });

                    });


                    alert('Confirmed Order!')
                },

                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cartID.length; i++) {
                        if (this.cartID[i] === id) {
                            count++
                        }
                    }
                    return count;
                },

            },

            computed: {
                enableshoppingcart: function () {
                    if (this.cart.length > 0) {
                        return true
                    }
                    else {
                        return false
                    }
                },


            },

            created: function () {

                fetch('https://cst--3145.herokuapp.com/collection/products').then(
                    function (response) {
                        response.json().then(
                            function (json) {
                                webstore.products = json;
                                console.log(webstore.products)
                            });
                    });



            }


        });

    </script>

</body>

</html>