<!DOCTYPE html>
<html lang="en">

<head>
    <title>cw2</title>
    <script src="https://unpkg.com/vue"> </script>
  
</head>

<body>
    <div id="app">

        <!-- shoping cart -->
        <header>
            <h1>CLASS WORK 2 Indiviual</h1>
            
         
            <h1><center>CARTS</center></h1>
           
            <div v-for="product in cart" style="display:inline-block;">
              
                <figure>
                    <img v-bind:src="product.image" width="190" height="190">
                </figure>
            
                <h2>Subject:{{product.Subject}}</h2>
                <P>Location: {{product.location}}</P>
                <p>Price: {{product.price}}</p>
                <P>Product I.d: {{product.id}}</P>
                <P>Number of spaces: {{product.availableInventory}}</P>
                <button v-on:click="removefromcart(product)">removefromcart</button>
                <button v-on:click="showcheckout" v-if="enableshoppingcart">shopping cart</button>
            </div>
        </header>

        <main>
            <div v-if="showproduct">


                <h1><center>ALL PRODUCTS</center></h1>

                <div v-for="product in products" style="display:inline-block;">

                    <figure>
                        <img v-bind:src="product.image" width="200" height="200">
                    </figure>

                    <h2>Subject:{{product.Subject}}</h2>
                    <p>ID : {{ product._id}}</p>
                    <P>Location: {{product.location}}</P>
                    <p>Price: {{product.price}}</p>
                    <P>Product I.d: {{product.id}}</P>
                    <P>Number of spaces: {{product.availableInventory}}</P>
                    <button v-on:click="decrement_inventory(product); addtocart(product); " v-if="isenable(product)">
                        Add to cart</button>
                   

                    <button disabled="disabled" v-else>DISABLE</button>
                </div>
            </div>

            <div v-else>
                <h2>Checkout</h2>


                <form @submit="submitForm">
                    <ul>
                        <p>
                            <strong>Name:</strong>
                            <input id="name" required v-model.trim="order.name" type="text" />
                        </p>
                        <p><strong>Phone : </strong><input id="phone" required v-model.number='order.phone'
                                type="number"></p>


                        <input type="submit">
                </form>



            </div>
        </main>
    </div>








    <script type="text/javascript">
        var webstore = new Vue({
            el: "#app",
            data: {
              
                products: [],

                lessons: [],
                cart: [],
                cartID: [],
                showproduct: true,

                order: {
                    name: "",
                    phone: null

                },





            },
            methods: {
                decrement_inventory(product) {
                    product.availableInventory = product.availableInventory - 1;
                },
                isenable: function (product) {
                    if (product.availableInventory > 0) {
                        return true
                    }
                    else {
                        return false
                    }
                },








                addtocart: function (product) {
                    this.cart.push(product);
                    console.log(product);
                    this.cartID.push(product.id)
                    console.log(product.availableInventory)
                    console.log(this.cartCount(product.id));


                    


                    const newavailableInventory = product.availableInventory;




                    console.log("iM HERE");

                    fetch('https://cst1.herokuapp.com/collection/lessons' + product._id, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ availableInventory: newavailableInventory })
                    }).then(function (data) {
                        console.log(data);
                     

                    });


                },
                showcheckout() {
                    this.showproduct = this.showproduct ? false : true;
                },
                removefromcart: function (product) {

                    product.availableInventory = product.availableInventory + 1;
                    const newavail = product.availableInventory;
                    this.cart.pop(product)
                    fetch('https://cst1.herokuapp.com/collection/lessons' + product._id, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ availableInventory: newavail })
                    }).then(function (data) {
                        console.log(data);
                      

                    });


                },





                submitForm() {
                    fetch('https://cst1.herokuapp.com/collection/order/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ Name: this.order.name, Phone: this.order.phone, ProductsInOrder: this.cart.map(({ Subject }) => Subject) })}).then(function () {


                    });

                    this.cart.forEach(element => {

                        fetch('https://cst1.herokuapp.com/collection/lessons/' + element._id, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ availableInventory: element.availableInventory })
                        }).then(function (data) {
                            console.log(data);
                            console.log("Updated");

                        });

                    });


                    alert('YOUR ORDER IS PLACED SUCESSFULLY')
                },

                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cartID.length; i++) {
                        if (this.cartID[i] === id) {
                            count++
                        }
                    }
                    return count;
                },

            },

            computed: {
                enableshoppingcart: function () {
                    if (this.cart.length > 0) {
                        return true
                    }
                    else {
                        return false
                    }
                },


            },

            created: function () {

                fetch('https://cst1.herokuapp.com/collection/lessons/').then(
                    function (response) {
                        response.json().then(
                            function (json) {
                                webstore.products = json;
                                console.log(webstore.products)
                            });
                    });



            }


        });

    </script>

</body>

</html>